{% extends 'base.html' %}

{% block content %}

<h3> All Available Property List</h3>

<br>
{% for listproperty in all_property %}
    <p>
    Property Name: {{listproperty.property_name}} <br>
    Location: {{ listproperty.property_location}} <br>
    Description: {{ listproperty.property_description}} <br>
    Rent Rate: {{ listproperty.property_pricing}} <br>
    </p>
    <tr><td><img src="{{ listproperty.property_picture }}" height="200" width="200"></td></tr>

{% endfor %}
{% endblock content %}