{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Project</title>
</head>

 {% if user.is_authenticated %}
     <h1>{{ user.username }}</h1>
<body>
     <a href ="{% url 'login' %}">Login</a><br>
     <a href ="{% url 'logout' %}">Logout</a><br>
     <a href ="{% url 'password_change' %}">Change Password</a><br>
     <a href ="{% url 'createprofile' %}">Create Profile</a><br>
     <a href ="{% url 'viewprofile' %}">View Profile</a><br>
 {% else %}

     <a href ="{% url 'registration' %}">Sign Up</a><br>
     <a href ="{% url 'login' %}">Login</a><br>
 {% endif %}
{% block content %}

{% endblock content %}

</body>
</html>

