{% extends 'base2.html' %}
{% block content %}
    <title>Registration - Vacationful</title>
{% load crispy_forms_tags %}

<br>
 <div class="container">
    <div class="jumbotron">
  <h1 class="text-center">Sign Up For An Account </h1>
  <h2 class="text-center" > Join As Traveller Or Property Owner On Vacationful </h2>
    </div>
    </div>

{#    <h3>{{ message }}</h3>#}

<form method="POST" enctype="multipart/form-data" >
      {% csrf_token %}
     {{ form | crispy }}
      {{ form1| crispy }}
      <input type="submit" name="signup_btn">
</form>

{% endblock content %}
